<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{{title}}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/icons/manifest.json">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
  <link rel="stylesheet" href="/css/custom.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/custom.css">
  <!-- <script src="./scripts/web3/dist/web3.min.js"></script> -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112784781-1"></script>

</head>

<body>
  <div class="container">
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="../" class="navbar-brand"><img id="logo" src="/img/logo.png" style="width: 25px; margin-bottom: 5px; margin-right: 7.5px;">{{{title}}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.binance.com/?ref=12193766" target="_blank">Exchange to ETH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="help" target="_blank">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-body">


    </div>

    <footer id="footer">
      <div class="row">
        <div class="col-lg-12">
          © 2018 <a href="http://scriptless.ch">Scriptless</a>, made with &nbsp;<i class="fa fa-heart heart-icon" style="color: red; text-shadow: 0 0 5px #fff,0 0 10px #f83e4b;"></i>
          <div class="float-lg-right">
             Still Alpha 1.0&emsp;<i class="fa fa-twitter" style="color: #1da1f2"></i>&nbsp;<a href="https://twitter.com/etherpotio">Twitter</a>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
  <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://bootswatch.com/_assets/js/custom.js"></script>
  <script src="https://raw.githubusercontent.com/akira-kuriyama/roulette.js/master/roulette.js"></script>
  <script src="/js/custom.js"></script>

</body>

</html>
