<div class="row justify-content-md-center">
  <div class="col col-md-6 mb-5">
    <div class="text-center">
      <h1 id="pot_value">{{amount}} ETH</h1>
      <p id="remaining">{{remaining}}</p>
    </div>
    <div id="progresses" class="progress mb-5" style="height: 25px;">
    </div>
    <p class="mb-2">Contribute with ETH</p>
    <input class="form-control" id="contract_addr" value="{{address}}" readonly="" type="text">
    <div class="text-center">
      <p class="text-muted"><small>5% fee on winning pot; minimum contribution 0.01</small></p>
    </div>
  </div>
</div>

<div class="row justify-content-md-center mt-5">
  <div class="col col-md-8">
    <ul class="nav nav-tabs mb-0">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" id="active_players" href="#active">Active Pot Players ()</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#recent">Recent Wins</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="active">
        <table class="table table-hover">
          <tbody id="participants">
            <div id="no_parti" class="text-center">
              <br>
              <p>No active players at the moment.<br>Deposit some Ethereum to start a new round!</p>
              <br>
            </div>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="recent">
        <table class="table table-hover">
          <tbody id="recent_winners">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col col-md-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#info">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#news">News</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show" id="news">
        <a class="twitter-timeline" href="https://twitter.com/etherpot_io?ref_src=twsrc%5Etfw">Tweets by EtherPot.io</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="tab-pane fade show" id="chat">
        <input class="form-control" placeholder="Type here to chat..." type="text">
      </div>
      <div class="tab-pane fade show active" id="info">
        <p>Contribute by scanning the QR Code below</p>
        <img id="qr" alt="QR Code loading" />
        <br>
      </div>
    </div>
  </div>
</div>
