body {
    padding-top: 70px;
}

/**
 * Progress bars with centered text
 */
.progress span {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-body {
  margin-top: 3em;
}

p {
  font-family: inherit;
}

h1 {
  font-weight: 400;
}

.table th, .table td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    padding: 1rem;
}
